/**
 * COLOR SCHEME
 */
$background: #EFFFFD;
$primary: #006a9c;
$secondary: #ffa442;
$text: #28a8e3;
$white: #fff;
$black: #000;

/**
 * KEY DIMENSIONS
 */
$navbar_height: 15rem;
$app_max_width: 150rem;