@import "globals";

.container {
  background: $background;
  width: 100%;
  min-height: 100vh;
  color: $primary;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  // flex-wrap: wrap;

  .logo {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
  }

  .emojisPart {
    width: 20%;
    min-width: 150px;
    // height: 100%;
    min-height: 200px;
    flex-shrink: 0;
    position: relative;

    .emoji {
      &1 {
        position: absolute;
        font-size: 180px;
        top: -80px;
        left: 50%;
        transform: translate(-50%);
      }

      &2 {
        position: absolute;
        font-size: 90px;
        top: 50%;
        left: 60%;
        transform: rotate(20deg);
      }

      &3 {
        position: absolute;
        font-size: 45px;
        top: 60%;
        left: 20%;
        transform: rotate(-20deg);
      }
    }
  }

  .errorPart {

    .errorTitle {
      color: #5755FE;
      font-size: 128px;
      font-style: normal;
      font-weight: 400;
      line-height: 80%; /* 102.4px */
      text-transform: uppercase;
    }

    .errorMessage {
      color: #FF71CD;
      font-family: "Jockey One";
      font-size: 21px;
      font-style: normal;
      font-weight: 400;
      line-height: 119%; /* 24.99px */
      text-transform: uppercase;
      max-width: 500px;
      margin-top: 10px;
    }
  }
}